* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

.section1 {
    background-color: #FFFFE8;
    padding: 0.8rem;
    text-align: center;
    display: flex;
}

.container1 {
    box-sizing: border-box;
    margin-left: 8%;
    padding: 0;
}

.heading {
    font-size: 1.9rem;
    margin-bottom: 1.5rem;
    margin-left: -25%;
    
}

input[type="text"] {
    border: none;
    border-radius: 1.5rem;
    font-size: 1rem;
    padding: 0.8rem 1.6rem;
    margin-right: 0.3rem;
    width: 65%;
}


.envoye {
    border: none;
    border-radius: 1.3rem;
    background-color:  #E4C988;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.envoye:hover:hover {
    background-color: #000000;
}

.logobk{
    width: 25%;
    margin-left: -40%;
    margin-top: 6%;
}


/* section2 */
.section2{
    margin-top: 1rem ;
    text-align: center;
}


h2{
    font-size: 1.4rem;
    margin-bottom: 1rem;
    text-align: center;
}

#recette{
    margin-top: 6%;
    margin-left: 6%;
   
}


.carte {
    background-color: #f5f5b6;
    border-radius: 1rem;
    /* overflow: hidden; */
    box-shadow: 10px 5px 5px rgb(99, 97, 97);
    
    border-radius: 1rem;
    width: 85%;
    
    
}

.recetteimg {
    width: 100%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.nomrecette {
    font-size: 1.5rem;
    padding: 1rem 1rem;
}

.popupBtn{
    text-decoration: none;
    border-radius: 1rem;
    background-color: #E4C988;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    
    
}
.popupBtn:hover {
    background-color: #000000;
}



@media screen and (min-width: 900px){
    #recette{
        display: grid;
        gap: 4rem;
        grid-template-columns: repeat(3, 1fr);
    }
    .carte{
        margin: 0;
    } 
    
}

/* popUp */
.fermer {
    width: 20px;
    align-items: center;
    justify-content: center;
    display: flex;

    border: none;
    border-radius: 1.3rem;
    background-color:  #1f1d1b;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    
    position: absolute;
    right: 2rem;
    top: 2rem;
}
.fermer:hover:hover {
    background-color: #ff0000;
}

.popup{
    width: 50%;
    height: 60%;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: #E4C988;
    border-radius: 1rem;
    
    display: none;
    padding: 1rem 0;
}

.instruction{
    margin: 2rem;
}

.affichage{
    display: block;
}

.categorie{
    border: none;
    border-radius: 1.3rem;
    background-color:  #E4C988;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}


.pays{
    border: none;
    border-radius: 1.3rem;
    background-color:  #E4C988;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    
}
.pays:hover:hover {
    background-color: #000000;
}

.categorie:hover:hover {
    background-color: #000000;
}